.d3-tip {
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size:1em;
}

/*.viz-container {
    display: none;
}*/
.header h3, .form-control {
  display: inline-block;
}

h3 {
  width: 80%;
}
.form-control {
  width: 190px;

}

.chiffre {
  font-size: 20px;
  color: #6787E7;
}

h5{
  height: 25px;
}
h6 {
  font-size: 13px;
}
strong{
   font-weight: bold;
}
.dc-chart g.row text {
    fill: black;
    font-size:0.8em;
}

.x-axis-label{
    font-size:1em;
}
.hdx-3w-info{
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size:1em;
    color:#000000;
 }

#map {
    height:300px;
    width:100%;
}

#footer {
  /*margin-top: 10px;*/
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  border-top-color: #dddddd;
  border-top-style: solid;
  border-top-width: 1px;
}

.hdx {
    width: 80px;
    display: inline;
}
.c3-axis-x {
  font-size: 0.9em;
}


.loader {
    animation: spin 2s linear infinite;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    height: 70px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}